<h1>Create a Team and Heroes!</h1>

<form class="" action="/teams" method="post">

<!-- params =>
{team => {name => "Flatiron" , motto => "School Rocks", members => [{name=> "Avi", power => "super", bio => ""}, 2, 3]} -->
      <label for="name">Team Name:</label>
      <input type="text" name="team[name]">

      <label for="motto">Team Motto:</label>
      <input type="text" name="team[motto]">


  <h2>Hero 1</h2>
        <label for="name">Hero's Name:</label>
        <input id="member1_name" type="text" name="team[members][][name]">

        <label for="power">Hero's Power:</label>
        <input id="member1_power"type="text" name="team[members][][power]">

        <label for="biography">Hero's Biography:</label>
        <input id="member1_bio"type="text" name="team[members][][biography]">

  <h2>Hero 2</h2>
        <label for="name">Hero's Name:</label>
        <input id="member2_name" type="text" name="team[members][][name]">

        <label for="power">Hero's Power:</label>
        <input id="member2_power"type="text" name="team[members][][power]">

        <label for="biography">Hero's Biography:</label>
        <input id="member2_bio"type="text" name="team[members][][biography]">
  <h3>Hero 3</h3>
        <label for="name">Hero's Name:</label>
        <input id="member3_name" type="text" name="team[members][][name]">

        <label for="power">Hero's Power:</label>
        <input id="member3_power"type="text" name="team[members][][power]">

        <label for="biography">Hero's Biography:</label>
        <input id="member3_bio"type="text" name="team[members][][biography]">

  <input type="submit" name="submit" value="submit">

</form>
